body {
    background-color: rgb(34, 25, 43); 
  }

  .btn {
      cursor: pointer;
  }
  
  body {
    color: white;
  }
  
  .clicked { 
      color: yellow;
  }

  .form,
  .greetings {
    display: none;
  }

  .showing {
    display: block;
  }